<div class="hero bg-gray">
   <div class="hero-body">
       <h1 class="text-center">Bienvenue à MeetTheFuture !</h1>
   </div>
</div>




<fieldset><legend class="label label-rounded">Choisir un thème: </legend>
    <% @themes.each do |theme| %>
    <section class="card">
       <div class="card-header">
           <h1><%= theme.nom %></h1>
       </div>
       <div class="card-body">
           <p><%= theme.description %></p>
       </div>
       <div class="card-body">
           <a href="choice/<%= theme.id %>" class="btn btn-primary">Commencer</a>
       </div>
    </section><br>
    <% end %>
</fieldset>