<h1>Bienvenue à MeetTheFuture !</h1>


<fieldset><legend>Choisir un thème: </legend>
    <% @themes.each do |theme| %>
    <section>
        <h1><%= theme.nom %></h1>
        <p><%= theme.description %></p>
        <a href="choice/<%= theme.id %>">Commencer</a>
    </section>
    <% end %>
</fieldset>