<%= simple_form_for @futur do |f| %>

  <div class="form-group">
    <%= f.input :titre, label: 'Titre' %>
  </div>

  <div class="form-group">
    <%= f.input :description, label: 'Description', input_html: {cols: '50', rows: '10'} %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
